<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mening xabarlarim</title>
    <link rel="stylesheet" href="../media/main.css">
    <script defer="defer" src="../media/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-color: #141c2c;">
    <div class="main-wrapper">
        <div class="container">
            <nav>
                <h1 style="color: white;" > YANGI ELONLAR</h1>     <button id="reloadPage" class="reload-btn"><i class="fa-solid fa-rotate"></i> Sahifani yangilash</button>
            </nav>
<!--            <button onclick="window.location.href='{% url 'my_messages' %}'" class="my-messages-btn">📝 Mening e'lonlarimga o'tish</button>-->
<!---->

            <div style="background-color: #1e2a47; border: 1px solid white; border-radius: 5px;" id="messages">
                {% for msg in messages %}
                    {% if not msg.taken_by or msg.taken_by.id == request.session.user_id %}
                        <div  class="message" id="msg-{{ msg.id }}">
                            <i class="fa-solid fa-envelope"></i> {{ msg.text }}
                            {% if not msg.taken_by %}
                                <button class="reload_message" id="reload_message" onclick="takeMessage({{ msg.id }}, this)">Olindi <i class="fa-solid fa-check"></i></button>
                            {% else %}
                                <b>(Olingan: {{ msg.taken_by.username }})</b>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="container">
            <h1 style="color: white;" id="myelon">Mening e'lonlarim</h1>
            {% for msg in messages %}
                {% if msg.taken_by and msg.taken_by.id == request.session.user_id %}
                    <div  style="background-color: #1e2a47;"  class="message " class="message" id="my-msg-{{ msg.id }}" onclick="openMessageModal({{ msg.id }})">
                        <form method="POST" action="{% url 'edit_message' msg.id %}">
                            {% csrf_token %}
                            <textarea style="background-color: #1e2a41; width: 100%; color: white;" name="text" rows="3" style="width: 100%;">{{ msg.text }}</textarea><br>
                            <a class="dalete_bar" href="{% url 'delete_message' msg.id %}">
                                <button id="reload_ochirish" type="button" class="btn delete-btn"> <i class="fa-solid fa-trash"></i> O‘chirish</button>
                            </a>
                        </form>
                    </div>
                {% endif %}
            {% empty %}
                <p>🚫 Sizda hozircha olingan xabarlar yo‘q.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Modal -->
    <div id="message-modal" class="modal">
        <div class="modal-content">
            {% if success %}
                <p style="color: green;">✅ Ma'lumot muvaffaqiyatli yuborildi!</p>
            {% endif %}
            <form method="POST" action="{% url 'show_last_message'%}">
                {% csrf_token %}
                <label for="qayerda">Qayerda:</label>
                <input type="text" name="qayerda" id="qayerda" required><br>

                <label for="qayerga">Qayerga:</label>
                <input type="text" name="qayerga" id="qayerga" required><br>

                <label for="cars">Mashina:</label>
                <input type="text" name="cars" id="cars" required><br>

                <label for="text">Matn:</label>
                <input type="text" name="text" id="text" required><br>

                <label for="narxi">Narxi:</label>
                <input type="text" name="narxi" id="narxi" required><br>

                <button onclick="sendMessageToGroupsModal()" type="submit">Yuborish</button>
            </form>

            <span class="close" onclick="closeMessageModal()">&times;</span>
            <textarea id="modal-text" rows="3" style="width: 100%;height:80%"></textarea><br>
            <button class="btn send-btn" onclick="sendMessageToGroupsModal()">📤 Yuborishdi</button>
            <button id="editMessageModal" class="btn edit-btn" onclick="editMessageModal()">✏️ Tahrirlash</button>
        </div>
    </div>
</body>
</html>
